body {
  font-family: "Heebo", sans-serif;
  color: #ccc;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  text-align: left;
}
.container {
  padding: 5% 7%;
  background-color: #f1f7fd;
}
/*GRID*/
.content-inner {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}

.content-box {
  padding: 5% 7%;
  border-radius: 10px;
}
.box-3,
.box-4 {
  color: #48556b;
}
.box-1 {
  background-color: #733fc8;
  grid-column-end: span 2;
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: right 23% top 10%;
}
.box-2 {
  background-color: #48556b;
}
.box-3 {
  background-color: #fff;
  grid-row-end: span 2;
}
.box-4 {
  background-color: #fff;
}
.box-5 {
  background-color: #19202d;
  grid-column-end: span 2;
}
.box-top {
  padding: 5px;
}
.box-profile,
.box-name {
  display: inline-block;
  vertical-align: middle;
}
.box-profile img {
  width: 70%;
  border-radius: 50%;
  margin: 0;
}
.box-title {
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  color: #f1f7fd;
}
.box-text,
.box-bottom-text {
  font-size: 12px;
}
.box-bottom-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #f1f7fd;
}

.box-3 .box-title,
.box-4 .box-title {
  color: #48556b;
}

.box-3 .box-bottom-title,
.box-4 .box-bottom-title {
  color: #48556b;
}
.box-3 .box-bottom-text,
.box-4 .box-bottom-text {
  color: #91959d;
}

/*Media Query*/
@media (max-width: 768px) {
  .content-inner {
    display: flex;
    flex-direction: column;
  }
}
